.topBanner{
  height: 50vh;
}
.flexContainer{
  width: 100%;
   flex: 1;
    align-items: stretch;
      margin: 10px
}
.topContent{
  margin: 0 0 0 30px;
  position: absolute;
  top: 35%;
  text-align: start;
  width: 40%;
  left: 35px;
}
.topImages{
  min-width: 70vw;
  object-fit: cover;
  height: 50vh;
}
.manImage{
  width: 25vw;
      object-fit: cover;
}